################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CalculadoraIMC/FileContentIndex/d4f50188-f2ac-4641-85df-10ccc4145e18.vsidx
/.vs/CalculadoraIMC/FileContentIndex/6c09ffc7-e35e-4066-a9ba-4d3550537b81.vsidx
/.vs/CalculadoraIMC/FileContentIndex/
